#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$7SdTXy/TyrJzqaJM$N3n68SDeRkpgINp47IeAW73WZJy815Q4CpV0Vj8QhuTjqd0kd4pBbzGR2yXB1mSIa/GA9IL58gzCMuCzKk4Nq.
# System timezone
timezone Asia/Kolkata --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core

%end

